[2012-04-17 09:50] fbricon opened #2 "Use the M2_REPO variable to reference jars in Factory Path"
Current implementation uses 'factoryPath.addExternalJar(resolvedJarArtifact);' to add jars to the Factory Path. As a result, absolute (i.e. non portable) paths are stored in .factorypath.

We should instead reference the jars via the M2_REPO classpath variable. This will allow the .factorypath file to be shareable via SCM (whether it's a good practice or not is another debate).

We can reuse/copy

[2012-04-18 10:16] fbricon opened #3 "Add a test integration plugin"
We need to run some integration tests as part of the build.

[2012-04-19 10:02] #3 closed, assigned to fbricon

[2012-04-19 13:59] #2 closed, assigned to fbricon

[2012-04-19 14:42] fbricon opened #4 "Add support for org.bsc.maven:maven-processor-plugin"
Configure JDT-APT according to the configuration of org.bsc.maven:maven-processor-plugin

[2012-04-19 14:46] fbricon opened #5 "Add project/global preferences to enable/disable APT support"

[2012-04-23 12:26] #4 closed, assigned to nobody

[2012-04-23 16:45] fbricon opened #6 "Reconcile m2e-apt and excilys.ebi.m2e.apt"
The m2e/apt configurator in https://github.com/excilys/m2e-extras/tree/master/com.excilys.ebi.m2e.apt uses a different approach than m2e-apt : annotation processing is delegated to the underlying maven plugin (org.bsc.maven:maven-processor-plugin) via a Build Participant.
This is less performant than using the incremental JDT APT builder but leads to "better" builds wrt maven, notably allowing the

[2012-04-26 15:10] #5 closed, assigned to fbricon

[2012-04-27 19:54] #6 closed, assigned to fbricon

[2012-04-27 20:15] fbricon opened #7 "Changing the preferences should trigger a project update"
Currently changing the preferences doesn't trigger a project update, it should

[2012-04-30 14:51] fbricon opened #8 "Trigger project update on Preference changes"
Changing the preferences in Maven > Annotation Processing should trigger a Maven > Project Configuration automatically

[2012-04-30 14:52] #8 closed, assigned to fbricon

[2012-06-04 07:16] fbricon opened #12 "NPE in configuration AbstractAptConfiguratorDelegate#configureClasspath()"
Original bug report : https://issues.jboss.org/browse/JBIDE-12087

[code]

[2012-06-04 14:43] #12 closed, assigned to fbricon

[2012-06-06 14:33] fbricon opened #13 "Do not load the complete project classpath in the Factory path"
We should explore a way to only load relevant jars to the JDT APT Factory Path. See if adding only the processor dependencies is enough to get JDT APT working.

[2012-06-14 13:17] pyricau opened #14 "Annotation processing not triggered"
Hi there !

I'm the author of [AndroidAnnotations](http://androidannotations.org), an APT library for Android projects.

We currently suggest our Maven / Eclipse users to use the `maven-compiler-plugin` to get the build to work with Maven, and then manually configure the Eclipse project by adding the processor JAR stored in `M2_REPO` (see [here](https://github.com/excilys/androidannotations/wiki/B

[2012-06-20 20:36] bradcupit opened #15 "code generation not working when annotation processor open in Eclipse"
Let's say I have an annotation processor project named 'apt'

And another project that uses that annotation processor. Let's call it 'apt-user'.

When both are open in Eclipse, code generation never gets triggered.

When I close the 'apt' project, forcing m2e or m2e-apt to find the installed jar in the .m2 folder, code generation works fine.

[2012-06-20 20:51] #15 closed, assigned to nobody

[2012-07-20 18:48] glebfrank opened #16 "Annotation processors don't run if they're defined in an open project"
Suppose project A defines an annotation processor class C, and project B depends on A (both are Maven projects.)

Normally, when you have B open in Eclipse, the factory path for B contains A's jar from the Maven repo, and all is well. But this breaks if the project for A is also  open in Eclipse: the factory path for B doesn't contain anything corresponding to A, and C won't run.

More specificall

[2012-07-20 19:02] #16 closed, assigned to nobody

[2012-08-03 10:20] #7 closed, assigned to nobody

[2012-11-26 09:55] fbricon opened #17 "Convert APT enabled projects to Maven"
We should use the m2e conversion API to convert APT enabled projects to maven :
- enabled if JDT APT is enabled on the project
- add maven-processor-plugin configuration (as maven-compiler-plugin config is less efficient, but that code be set via preferences, in a later version)

[2012-12-07 14:23] Delorien84 opened #18 "Eclipse ATP is not setup when processor is in references project in workspace"
When the project that contains implementation of the AbstractProcessor is open in actual workspace and the project that reference this project, the ATP is not setup correctly. When delete project that contains implementation of the AbstractProcessor from workspace and the other project start reference just external library from local maven repository, the ATP is setup correcty.

It is seems that P

[2013-01-03 17:49] kabir opened #19 "ClassCastException"
Hi,

I'm trying to use this with https://github.com/jbossas/jboss-as in Eclipse 4.2.1 on OS X Lion . When building the project I get:

Description Resource    Path    Location    Type
Internal compiler error: java.lang.ClassCastException: com.sun.istack.internal.ws.AnnotationProcessorFactoryImpl cannot be cast to com.sun.mirror.apt.AnnotationProcessorFactory at org.eclipse.jdt.apt.core.internal.An

[2013-01-03 18:26] kabir opened #20 "Turning off annotation processing for a project should delete the .factorypath file"
I had to do that manually to recover from https://github.com/jbosstools/m2e-apt/issues/19

[2013-03-26 11:56] #18 closed, assigned to nobody

[2013-07-08 11:23] vguna opened #22 "annotation processing not working with JDT / maven-compiler-plugin"
Hi.

I'm using Juno Service Release 2 with JBoss Tools 1.4.0 Final and Maven Integration for Eclipse JDT APT 1.0.1.201209200721 under JDK7 64bit on Windows 7.

I have a multimodule maven build with my own annotation processors defined in two separate modules. Everything is working fine with plain maven build on cmdline and necessary files get generated by the processors under target/generated-sour

[2013-10-07 14:29] fbricon opened #24 "m2e-apt not compatible with m2e 1.5.0"
m2e-apt relies on Sonatype Aether classes to resolve plugin dependencies. Since m2e 1.5.0.M3, Sonatype Aether has been replaced with Eclipse Aether, breaking m2e-apt.

We need to either use m2e/maven's API to resole plugin dependencies, or update m2e-apt to use Eclipse Aether classes if the former solution doesn't work, for some reason.

[2013-12-11 05:06] nkavian opened #25 "Support processor options from <compilerArgs> introduced in maven-compiler-plugin 3.1"
I'm using cofoja and it has an APT with -A processor options.

You can see a screenshot of the 3 settings here on page 6: http://webcourse.cs.technion.ac.il/236700/Spring2013/ho/WCFiles/Contracts%20for%20Java.pdf

When manually configured, it generates in .settings.org.eclipse.jdt.apt.core.prefs
these 3 specific lines:

org.eclipse.jdt.apt.processorOptions/com.google.java.contract.classoutput=%PRO

[2013-12-12 10:38] #24 closed, assigned to nobody

[2014-01-25 12:58] fbricon opened #26 "Add support for a <m2e.apt.activation> Maven property"
Default m2e-apt activation mode (from workspace preferences) should be overridden by an _`<m2e.apt.activation>`_ Maven property.

Valid values being :
- disabled : m2e-apt activation is disabled for this project
- jdt_apt : Enable m2e-apt on this project and delegate Annotation Processing to JDT APT
- maven_plugin : Enable m2e-apt  on this project and delegate Annotation Processing to the proper m

[2014-02-15 12:57] Sanne opened #27 "m2e-apt stable is broken, -dev build works fine"
Hi all,
this is an amazing productivity tool for us.

Since some days I would have an error message from aether in Eclipse on doing "Update Project" in Eclipse, failing to setup the annotation processor.
I've verified that by disabling Annotation Processing from the Maven Preferences, I would not have the problem (but not AP handling which is very annoying).

I've tried to upgrade to using the sta

[2014-05-19 13:58] #26 closed, assigned to nobody

[2014-05-20 21:35] #25 closed, assigned to nobody

[2014-05-21 08:13] #27 closed, assigned to nobody

[2014-06-05 18:52] nomis opened #28 "Automatically (re)generate .factorypath"
A Maven project shouldn't need to have every dependency filename stored in the .factorypath file in version control.

Entries referring to M2_REPO should be automatically created and updated if they are not present.

[2014-06-09 09:20] WonderCsabo opened #29 "Processor options not correctly read from maven-compiler-plugin configuration."
I now use the latest version of your plugin, but the compiler options are still not added from the POM. Here is my POM file:

[code]

@fbricon can you take a look at this?

EDIT: I investigated the code, and i think i found the culprit. The `ProjectUtils.parseProcessorOptions(List<String>)` method uses this regex to parse one option: `"A([^ \\t\"']+)"`. This is incorrect i think, the format is lik

[2014-06-12 09:48] caiwei-ebay opened #30 "Some UI options to make m2e-apt more effective"
Hi Fred,

  1) users may only use maven-processor-plugin, they don't wish to get maven-compiler plugin automatically work, however the maven-compiler-plugin (at least as of version 2.3.2) will automatically perform annotation processing and generate annotation sources in case you have annotation processors in your project's classpath. And Maven-compiler-plugin is defined or inherited for almost al

[2014-09-09 16:32] WonderCsabo opened #32 "Use classpath default output for generated sources"
Currently the output for the generated sources classpath entry is set to the `outputDirectory` parameter from the POM directly (`mavenProject.getBuild().getOutputDirectory()`). I think m2e-apt should not set this value directly from the pom, but it should rely on the default output directory:

[code]

The default output directory is already set to the POM value by m2e, so it is the same as the cur

[2014-09-09 20:03] #32 closed, assigned to nobody

[2014-09-09 20:58] #29 closed, assigned to nobody

[2014-09-22 14:57] kwin opened #35 "Default lifecycle mapping should map org.bsc.maven:maven-processor-plugin process and process test to m2e-apt"
Currently there is no way to enforce the installation of m2e-apt through the pom.xml only. That would be possible with lifecycle-mapping. Could you make the m2e-apt Configurator the default for both goals of the maven-processor-plugin: https://maven-annotation-plugin.googlecode.com/svn/docs/plugin-info.html.
That way only a POM change will make every Eclipse user install that plugin automatically

[2015-01-21 11:09] jfbenckhuijsen opened #36 "target/generated-test-sources not added as source folder"
Hi,

I've configured a project using m2e-apt. Annotation sources generated from classes in src/main/java are added to the Eclipse project as a new source folder target/generated-sources/annotations. However, for classes processed from src/test/java, no such source folder (target/generated-test-sources/annotations) is added to the Eclipse project. A maven build correctly outputs these classes.

[2015-01-21 14:12] fbricon commented on #36
JDT APT (the Eclipse tooling) doesn't support multiple annotation processing build sources/outputs (https://bugs.eclipse.org/376848).

https://developer.jboss.org/en/tools/blog/2012/05/20/annotation-processing-support-in-m2e-or-m2e-apt-100-is-out explains how to cope with that. Basically, you need to use the maven-processor-plugin and tell m2e-apt to delegate AP to it

[2015-01-21 14:12] #36 closed

[2015-01-26 12:36] jfbenckhuijsen opened #37 "Code generation not working, seems to be a classloading issue."
Hi,

I've created an APT maven project to generate some code. I've succesfully tested this code from Maven and all seems to work fine. However, whenever I use the m2e-apt plugin to run this from Eclipse, I get unexpected runtime-errors in the compilation process. The concrete exceptions differ largely from build-to-build, from execution-to-execution and from pc-to-pc, i.e. there is no real direct

[2015-01-26 15:26] fbricon commented on #37
m2e-apt does not perform any annotation processing, only project configuration, by default (When JDT APT) is used. Have you tried configuring [maven-processor-plugin](http://code.google.com/p/maven-annotation-plugin/) and delegating AP to maven (see preferences)? No idea if that'll fix your issue.

You most likely hit https://bugs.eclipse.org/bugs/show_bug.cgi?id=396554. Basically using Velocity f

[2015-01-27 09:45] jfbenckhuijsen commented on #37
Yeah, i got that already :(. Have tried various approaches:
- maven processor plugin
- Setting Velocity to provided (so it's not on the classpath and I rely on Eclipse)
- TCCL magic as described in the bug

I finally ended up creating an Eclipse plugin and needed to package Velocity itself with all deps in my plugin to force Eclipse to have all needed classes. Bummer, now I have to manually update

[2015-03-11 19:05] DenSpirit opened #38 "Resolve workspace projects"
When a maven project containing annotation processors is imported into workspace, it doesn't show up in the list of annotation processors added by m2e-apt.

[2015-03-11 19:09] fbricon commented on #38
This is a known limitation from Eclipse APT. See issue #15

This can't be fixed in m2e-apt. Sorry.

[2015-03-11 19:09] #38 closed

[2015-03-11 19:22] DenSpirit commented on #38
Thanks for a fast response.
According to issue #15 "Annotation Processors from workspace projects are ignored.". What about accessing their target JAR files?

[2015-03-11 19:28] fbricon commented on #38
Disabling workspace resolution on a project consuming APs from another project would make it use the jar installed in the local repository.
We can't rely on jars in target/ as there's no guarantee they'll be present. Any clean build would likely break stuff apart.

[2015-03-17 13:51] rawagner opened #39 "m2e-apt doesnt delete old build path"
I cant reproduce this 100%, but it happened to me 4-5 times. The best steps I have are here:
1. Create maven project, add hibernate-jpamodelgen dependency and maven-processor-plugin
2. Set project's maven annotation processing strategy to experimental
3. Let the project update
ASSERT: target/generated-sources/apt was added to build path
4. delete maven-processor-plugin
5. change project's maven an

[2015-06-26 06:41] WonderCsabo opened #40 "Do not change .factorypath if it is already present"
In some cases, projects needs a .factorypath, because it is customized. For example they could need an Eclipse plugin as an annotation processor in Eclipse builds, which cannot be added by m2e-apt.
I think m2e-apt could use a new GUI option: "Do not change factory path if it is already present". The default value can be false. @fbricon WDYT?

[2015-06-26 07:34] WonderCsabo commented on #40
To tell you an actual use-case:

this is a common setup for annotation processor development, you start a second eclipse instance and modify the test project in it, and if you use the AP as an Eclipse plugin in the second instance, you can nicely debug the AP in the first instance, use hot-code replacement, even JRebel etc.

[2015-06-26 14:31] fbricon commented on #40
Looks like some people want the opposite behavior (issue #28)

So why not disable m2e-apt for your project? it'll use whatever .factorypath you already have. You can use:

`<m2e.apt.activation>disabled<m2e.apt.activation>`

[2015-06-26 16:18] WonderCsabo commented on #40
@fbricon i still want to use m2e-apt for:

* automatically enabling processing
* generating processor options from POM.

[2015-07-01 13:17] fbricon commented on #40
on pto with extremely limited internet access. you can submit a  pr and I will take a look in at most 2 weeks

[2015-07-01 13:53] WonderCsabo commented on #40
@fbricon that is cool, thanks for your response!

[2015-07-16 08:06] puhko commented on #30
concerning topic 2) with the proposed reconcile option ...

Is there already a full solution for this request implemented in any new version of the me2-apt plugin? Or is there a pull request existing already?
Moreover I ask myself if a change to the maven-compiler-plugin itself would be necessary here, in order to configure it trough the pom.xml of a special project where apt should run. like a ne

[2015-07-29 21:00] WonderCsabo commented on #40
@fbricon i am afraid i have to resign from this. I am really not familiar with Eclipse UI coding, and i do not have the time to learn it. Also, i have to admit, this issue is now lower priority for me than before.

[2015-07-29 21:34] fbricon commented on #30
PR #31 has been applied and m2e-apt 1.2.0-SNAPSHOT is available from http://download.jboss.org/jbosstools/builds/staging/m2e-apt/all/repo/

Adding `<m2e.apt.processDuringReconcile>false<m2e.apt.processDuringReconcile>` will disable processing during the reconcile phase.

[2015-08-07 08:08] puhko commented on #30
works fine, thx

[2015-09-02 17:14] VsevolodGolovanov commented on #28
We keep trimmed down factorypaths in VCS, because by default undesired processors get enabled.
It's inconvenient, because we have to reset factorypaths after each Maven -> Update project.
This task could potentially make limiting processors "for everybody" (in VCS) even harder.

[2015-09-02 17:23] VsevolodGolovanov commented on #13
Our .factorypath files look like this:

[code]

And JDT APT works.
(As to why our factorypaths look like this, see comment in issue #28).

[2015-09-02 17:42] lp0 commented on #28
This has recently caused me problems with androidannotations because the .factorypath is never updated, so Eclipse was still using an older version.

[2015-09-02 19:20] fbricon commented on #28
I don't have the bandwidth to work on that for the time being. But if anyone wants to contribute a fix, I'd be happy to review it

[2015-09-17 14:45] rawagner opened #42 "Migrate to using license feature of JBT"
for more details see https://issues.jboss.org/browse/JBIDE-20212

[2015-09-22 19:26] mcacker opened #43 "Provider org.eclipse.sisu.space.SisuIndexAPT6 not found error when using m2e-apt"
I've installed m2e-apt in Eclipse Mars, and am running into the following error:

    Caused by: org.apache.maven.plugin.CompilationFailureException: Compilation failure
error: Bad service configuration file, or exception thrown while constructing Processor object: javax.annotation.processing.Processor: Provider org.eclipse.sisu.space.SisuIndexAPT6 not found

The error seems to occur in several di

[2015-09-22 20:28] fbricon commented on #43
Do you have a sample project reproducing the error?

[2015-09-22 20:38] mcacker commented on #43
Unfortunately, the projects i'm trying to use m2e-apt with are quite extensive, so it would be hard to provide one of these as a sample.  I'll see if I can cobble one together

[2015-09-22 20:52] fbricon commented on #43
the `maven_plugin` mode is very experimental. What happens if you use `<m2e.apt.activation>jdt_apt</m2e.apt.activation>`?

[2015-09-22 21:21] mcacker commented on #43
I still see the error with this setting.  It runs my annotations, but then I get the above error.

Just to clarify, i'm seeing the error when I run a maven build from an Eclipse run configuration.  I'm not sure yet that it's running yet during incremental compilation.

[2015-09-22 21:34] fbricon commented on #43
well m2e-apt is only relevant in the context of Eclipse builds (incremental or not), not while executing Maven build commands from the `Run As` menu.

[2015-09-23 15:22] mcacker opened #44 "Problems uninstalling m2e-apt"
When uninstalling m2e-apt (to try and diagnose build issues), the workspace is left in a corrupted state.  All poms now have the following error:

    Project configurator "org.jboss.tools.maven.apt.MavenCompilerAptProjectConfigurator" required by plugin execution "org.apache.maven.plugins:maven-compiler-plugin:2.3.2:compile (execution: default-compile, phase: compile)" is not available. To enable

[2015-09-30 15:27] db82407 opened #45 "Annotation processing messages are not well integrated into Eclipse"
I have an Annotation Processor that reports errors and warnings.

Using the native Eclipse integration, errors and warnings are shown in both the Editor and Problems view, but using the m2e-apt plugin these messages are all shown in the Error log.

This is a problem because 1) not all developers will notice annotation messages in the Error log,
2) mesages remain in Error log after they have been r

[2015-10-01 01:18] fbricon commented on #45
That's why it's experimental :-)

It is probably possible to get the errors back from the build invocation result and turn them into Error Markers, but I'm not 100% sure.

I don't have the bandwidth to investigate right now, so I recommend you provide a PR that fixes the issue. At the *very least*, providing a sample project exhibiting the problem would be helpful.

[2015-10-01 06:57] db82407 commented on #45
Yep, no problem, I'll see if I can create a PR.

[2015-12-13 17:30] overheadhunter opened #46 "Types based on test sources should get generated to target/generated-test-sources/test-annotations"
If you have annotated types inside `src/test/java`, the corresponding sources generated by the annotation processor during a normal maven build are put inside `target/generated-test-sources/test-annotations`.

However the m2e-apt plugin puts them inside `target/generated-sources/annotations`, which leads to errors as the generated types now exist in both directories.

[2015-12-14 16:48] fbricon commented on #46
This is a known issue described in https://github.com/jbosstools/m2e-apt/blob/master/README.md.
We can't do anything as this is a limitation from the Eclipse JDT APT plugin itself, which only supports 1 output directory. You can try the "delegate annotation processing" strategy.

[2015-12-14 17:34] totalvoidness commented on #46
@fbricon Are you aware of any upstream bug report? Modifying the maven build just to make an IDE happy isn't exactly a solution, that makes me happy :wink: Anyway feel free to close this issue if there is nothing you can do about it

[2015-12-14 17:45] fbricon commented on #46
I opened https://bugs.eclipse.org/376848 a while ago

[2016-01-19 20:16] agudian opened #47 "Support annotationProcessorPaths option in maven-compiler-plugin 3.5"
Hi there,

maven-compiler-plugin version 3.5 is being released tomorrow or so, and it would be awesome if m2e-apt would support the new option `annotationProcessorPaths`, which allows to specify the annotation processor path explicitly (see http://maven.apache.org/components/plugins-archives/maven-compiler-plugin-LATEST/compile-mojo.html#annotationProcessorPaths):

[code]
The resolved dependencies

[2016-01-19 20:24] fbricon commented on #47
It shouldn't be terribly hard to implement : collect the annotationPaths, trigger artifact resolution and add to .factorypath (before or after the other dependencies?)

However I don't think I'll have time to take a serious look at it before a few days. If you feel like providing a PR, please be my guest :-)

[2016-01-19 20:27] fbricon commented on #47
In any case, could you link to a sample project using that feature, once m-c-p 3.5 is released?

[2016-01-19 20:48] agudian commented on #47
I'll prepare a sample project by tomorrow when I got the plugin release process rounded up... :)

[2016-01-20 21:05] agudian commented on #47
Here's a simple sample project: https://github.com/agudian/m-compiler-p-examples

I'll also try to come up with another sample that contains transitive dependencies in the annotation processor in the coming days.

Thanks again for taking a look!

[2016-01-21 04:09] fbricon commented on #47
I'll test it on Friday. I suggest you make the annotation processor project a separate project, since eclipse APT doesn't support APs from open workspace projects.

[2016-01-22 20:29] agudian commented on #47
Having to `mvn install` the processor project in those cases is OK, I guess. Eclipse notices changes to the jars only after a restart anyway... I already expected this to not work smoothly in all cases... :wink:

Anyway, I couldn't wait and too a look at your branch already :+1:. It wasn't quite working for me, as the version of Xpp3Dom in what's brought with m2e 1.6.2 doesn't have a default-const

[2016-01-22 20:57] fbricon commented on #47
Yeah I coded that to get a feeling of how it'd look like but didn't test it. I noticed the dependencies shouldn't be added, after re-reading the doc, I need to change that.

[2016-01-22 23:59] fbricon commented on #47
@agudian : could you please check if PR #48 works for you?

[2016-01-23 00:32] fbricon commented on #28
So actually the factory path is updated when doing Maven > Update Project. In the following screencast, with automatic project configuration enabled, you can see the factory path being updated automatically :
http://screencast.com/t/Ax0ruW8s

[2016-01-24 05:56] #47 closed

[2016-01-24 16:51] #42 closed

[2016-01-25 07:12] agudian commented on #47
Awesome, thanks alot! :+1:

[2016-01-25 13:53] #39 closed

[2016-01-25 17:10] fbricon opened #50 "Available m2e-apt activation modes should be available as content assist in the pom.xml editor"
When hitting ctrl+space after `<m2e.apt.activation>`, the available activation modes should be listed (disabled, jdt_apt, maven_execution)

[2016-01-25 20:50] fbricon opened #51 "Require Java 1.7 minimum to run m2e-apt"
Java 1.6 is very dead. 1.7 too but I'll probably wait for another release to require Java 1.8 to run m2e-apt
So in the mean time, I'm bumping BREE to JavaSE-1.7 for m2e-apt 1.2.

[2016-01-25 20:50] fbricon commented on #51
Fixed with https://github.com/jbosstools/m2e-apt/commit/01fa694e2c07c6b9d65e3f1e3f46c2ff078c23cd

[2016-01-25 20:50] #51 closed

[2016-01-25 22:11] fbricon commented on #50
Works fine when running from source in Eclipse, but nor when running from eclipse plugin installed from update site. O_o

[2016-01-26 19:35] thebeeber commented on #13
Hi Fred,

We would really like to see this feature, especially with the new functionality in the compiler plugin (3.5) to specify annotation paths.  When the entire class path is loaded into the factoryPath, we end up getting some strange build errors, and we have to end up pairing it down manually, which is not ideal (in fact it is quite a pain, because everytime we update the maven project, we h

[2016-01-26 20:05] fbricon commented on #13
I remember having to add the project dependencies to the factory path because in some occasions, annotation processing would fail with CNFE exceptions.

Can you test the last build from http://download.jboss.org/jbosstools/builds/staging/m2e-apt/all/repo/ with annotation paths? In that case project dependencies are not added to the factory path. It's not consistent with the current behavior, becau

[2016-01-26 21:14] thebeeber commented on #13
So I tested the latest build.  It definitely tightened up the list in the factory path, but it still brought in a bunch of dependencies.  Again, I would expect if I list two jars in the annotationProcessorPaths tag, that they would be the only entries in the factory path.  Does that make sense?

[2016-01-26 21:23] fbricon commented on #13
Apparently, in some cases, APT won't work if the dependencies are missing, ask @agudian

[2016-01-26 22:10] agudian commented on #13
If I remember correctly, hibernate-jpamodelgen declares some transitive dependencies. I'm on my phone now, but I can check that tomorrow in more detail.

If you ask me, implementors of annotation processors should provide only fat-jars, with any additional dependencies shaded and included in the jar. But it's not what we see in some cases ;-).

Btw, my own testing on the annotationProcessorPath in

[2016-01-27 18:51] agudian commented on #13
I checked it again: hibernate-jpamodelgen 4.3.7.Final comes with dependencies to jboss-logging and jboss-logging-annotations. So those three should be in the .factorypath. And they are, and it works fine - just tried it out with a very simple example:
[code]
Resulting .factorypath:
[code]
:+1:

[2016-01-29 04:17] thebeeber commented on #13
Everything works great for me with this patch.  Much cleaner than before, and more along the lines of what behaviour I would expect.  Thanks again!

[2016-02-18 17:44] fbricon commented on #50
Actually it works when used with m2e 1.7. That'll do it for me.

[2016-02-18 17:44] #50 closed

[2016-04-21 22:01] atomicknight opened #52 "Annotation processor configuration fails when maven-compiler-plugin is configured with a non-JAR dependency"
`AbstractAptConfiguratorDelegate` assumes that all dependencies of maven-compiler-plugin are JAR files; this is true except when dependencies have been added to the plugin classpath. When this occurs, the plugin silently fails to configure the annotation processors because it is unable to read the dependency as a JAR file.

The offending piece of code is here: https://github.com/jbosstools/m2e-apt

[2016-04-21 22:50] fbricon commented on #52
How is a pom dependency supposed to work?

[2016-04-21 23:01] atomicknight commented on #52
The POM dependency itself doesn't contribute any classes/resources. However, it does cause transitive dependencies to be pulled in.

In my actual project, the POM dependency is not declared directly but is instead a (transitive) dependency of a declared JAR dependency.

[2016-04-22 00:50] #52 closed

[2016-04-22 01:09] fbricon commented on #52
@atomicknight a CI build is available from http://download.jboss.org/jbosstools/builds/staging/m2e-apt/all/repo/. Please let me know if it fixes your issue...or not.

[2016-04-22 20:58] atomicknight commented on #52
@fbricon, the fix works great. Thanks!

[2016-06-08 12:16] michaldo opened #53 "Annotation processing is not enabled by default for JDT compiler"
When I import Maven project with default compiler annotation processing is enabled, but for JDT compiler it is not enabled.

Steps to reproduce: Import project https://github.com/michaldo/m2e-apt-problem
### Environment:

Eclipse Mars 4.5.2
Maven Integration for Eclipse JDT APT	1.2.0.201601252104
Window>Preferences>Maven>Annotation Processing>Automaticaly configure JDT...

Maybe it is already repo

[2016-06-08 18:44] #53 closed

[2016-06-08 19:02] fbricon commented on #53
Please check if the latest build from http://download.jboss.org/jbosstools/builds/staging/m2e-apt/all/repo/ works for you

[2016-06-09 07:11] michaldo commented on #53
Fixed

[2016-06-09 09:40] michaldo opened #54 "commons-math-2.2 is recognized as annotation processor"
When I import Maven project with commons-math-2.2 the library is recognized as annotation processor and registered in .factorypath file.
I scanned source files and I don't see any *Processor in math-2.2

Steps to reproduce: Import project https://github.com/michaldo/m2e-apt-problem2

### Environment:

Eclipse Mars 4.5.2
Maven Integration for Eclipse JDT APT 1.3.0.201606081857
Window>Preferences>Ma

[2016-06-09 12:28] fbricon commented on #54
This is a duplicate of #13.

[2016-06-09 12:28] #54 closed

[2016-06-09 13:01] michaldo commented on #54
I'm afraid it is unclear to me. I expect math-2-2 is NOT registered in .factorypath, but actually is.
If my expectation is correct then issue should be open. If my expectation is wrong please explain me my mistake

[2016-06-09 13:05] fbricon commented on #54
This is a known issue (see #13), hence closed as duplicate. Basically the problem is all project dependencies are currently added to the factorypath because, in some cases, ClassNotFoundExceptions could be thrown if some of these non-AP dependencies were missing.

[2017-01-10 08:47] michaldo opened #55 "Question: Could pom.xml force Eclipse to enable APT processing?"
If my project use annotation processor, Eclipse must have enabled APT processing to import project without errors.

- I may do it on workspace level by: Window>Preferences>Maven>Annotation Processing>Automaticaly configure JDT...
Drawbacks:
I have to do manual configuration every new Eclipse installation -> it is annoying
Workspace settings impacts all projects -> I prefer project isolation

- I m

[2017-01-10 14:09] fbricon commented on #55
Yes, add a  an `<m2e.apt.activation>` Maven property to your (parent) pom.xml. See https://github.com/jbosstools/m2e-apt/issues/26#issue-26292488

[2017-01-17 12:44] michaldo commented on #55
Works perfect. Thanks

[2017-01-17 12:44] #55 closed

[2017-01-20 09:35] dnouls commented on #22
I am facing the same issue. Whatever I tried this plugin never triggers my custom APT.

At the same time, I have to explicitly state what APT classes that needs to be executed by maven-compiler-plugin because otherwise maven does not pick it up either. I created a CR on the latest maven-compiler-plugin as well since that has been broken since older versions.

[2017-05-31 19:32] DeepSnowNeeL opened #56 "Error with eclipse m2e-apt"
No problem when I build from maven, but when eclipse auto-builds when using m2e-apt with "Experimental : Delegate annotation processing to maven plugins"

I don't get my annotation processor executed (or maybe it crashes ?), I would love to know a way to get the full stacktrace but can't find anything in workspace/.metadata/log unless this error :

!ENTRY org.eclipse.m2e.logback.appender 4 0 2017-

[2017-05-31 19:36] DeepSnowNeeL commented on #56
Looks like updating maven-processor-plugin to 3.3.1 fixed the thing.. sorry !

[2017-05-31 19:36] #56 closed

[2017-07-13 16:01] Frettman opened #57 "annotationProcessorPaths alone does not enable annotation processing"
I recently discovered _annotationProcessorPaths_ of the maven-compiler-plugin, which finally lets me get rid of **provided** or **optional** dependencies to annotation processors. The Maven build itself runs just fine, but annotation processing in Eclipse gets actively disabled for the project when I do an Alt+F5 and **target\generated-sources\annotations** is removed as source folder. According t

[2017-07-14 04:00] fbricon commented on #57
Can you please provide a complete project reproducing this issue?

[2017-07-14 04:47] Frettman commented on #57
Here you are:
[test.zip](https://github.com/jbosstools/m2e-apt/files/1147356/test.zip)

Annotation processing is configured and activated in the Eclipse project when the _dependency_ is commented in; deactivated otherwise. For the Maven build itself the _annotationProcessorPaths_ configuration is enough; but m2e-apt doesn't seem to pick it up.

[2017-07-14 09:35] Frettman commented on #57
Just an update on my ongoing research of this:
I found your test project for this feature:
m2e-apt/org.jboss.tools.maven.apt.tests/projects/p11/
It shows the same issue. So, assuming it's not a regression in the plug-in, I was starting to suspect an issue on my end. I tried a clean install of our preconfigured IDE (using Eclipse Oomph, includes Spring STS plugins) and a new workspace: same issue.

[2017-07-14 12:43] Frettman commented on #57
As it turns out, it actually was STS. Their support is based on the assumption that annotations are on the classpath of the project. So while m2e-apt finds the processors in _annotationProcessorPaths_ and turns the processing on, STS says: Nope, nothing there, let's turn it off again.
Luckily, STS can be stopped from doing so in the workspace preferences:
![sts-apt](https://user-images.githubuserc

[2017-07-15 03:58] fbricon commented on #57
Closing as not an m2e-apt bug then. Please open a bug for [STS](https://github.com/spring-projects/spring-ide/issues).

cc @martinlippert @kdvolder

[2017-07-15 03:58] #57 closed

[2017-11-17 16:33] facboy opened #58 "Annotation processing is not enabled with compilerId javac-with-errorprone"
Annotation processing does not work with the maven-compiler-plugin if compilerId javac-with-errorprone is used.  m2e 1.8 (in Oxygen) supports this now so it would be good to have support in m2e-apt as well.  AFAIK all that is required is to add it to the lifecycleMappingMetadata.xml.

[2017-12-14 09:42] sewe opened #60 "Support <annotationProcessors> configuration element"
There exist annotation processors which are not declared in `META-INF/services/javax.annotation.processing.Processor`. These processors need to be explicitly selected using the `maven-compiler-plugin`’s [`<annotationProcessors>` configuration element](https://maven.apache.org/plugins/maven-compiler-plugin/compile-mojo.html#annotationProcessors) (the equivalent of `javac`’s `-processor <class>`).

[2017-12-14 09:44] sewe commented on #60
FWIW, I am aware that the JDT UI doesn’t seem to support explicit processor selection akin to `-processor` at the moment. I’ve already filed [a bug report](https://bugs.eclipse.org/bugs/show_bug.cgi?id=528704) for that.

[2018-01-08 16:03] #58 closed

[2018-01-23 00:11] vorburger opened #61 "Update Site (even bleeding/nightly) for 1.4.0"
@fbricon do you have, or could provide, an update site for 1.4.0? Just manual cut, or automated bleeding/nightly, either one would work for me... cauz the _[Dev builds update site](http://download.jboss.org/jbosstools/builds/staging/m2e-apt/all/repo/)_ mentioned on the README right now seems to only have a 1.3.0 from 20161026, according to Oomph's Repository Explorer.

Background: it seems that 1.

[2018-01-23 01:25] vorburger commented on #61
@fbricon and perhaps also @nickboldt : I have now locally built an m2e-apt from master source, and can confirm that with that it works (again) under Photon, with M2E 1.8.2 ... so, for "early adopters", it would be great if you had a chance to publish to an update site, some time.

[2018-01-23 01:27] nickboldt commented on #61
How about this one?

http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-apt/1.4.0-2018-01-12_16-25-02-H6/

[2018-01-23 01:51] vorburger opened #62 "maven-compiler-plugin dependencies such as error-prone should not all be put on the APT Factory Path"
@fbricon I seem to have hit an interesting problem in https://github.com/immutables/immutables/issues/745 .. when using (Google's) [error-prone](https://github.com/google/error-prone), which integrates with Maven via ``maven-compiler-plugin`` with ``<compilerId>javac-with-errorprone`` and ``<dependencies>``, see http://errorprone.info/docs/installation or look at [this pom.xml which does that](htt

[2018-01-23 02:15] vorburger commented on #61
@nickboldt that works great, switched to using that in https://github.com/vorburger/opendaylight-eclipse-setup/commit/6e584b712e1045e774b446a98e74a6fcd7ad2c14, thanks a lot! (May need a more recent one later following https://github.com/jbosstools/m2e-apt/issues/62, but... later, may be.)

[2018-01-23 02:15] #61 closed

[2018-01-23 12:16] vorburger commented on #62
I guess a "pragmatic" solution to this could be to just stick that maven-compiler-plugin for error-prone into a Maven profile which is only active on the CLI but not in M2E, so that m2e-apt just ignores it? I'll try that.

[2018-01-23 13:22] nickboldt commented on #61
When/if you need a rebuild, just let me know via a github comment or nickboldt at gmail.com or nboldt at redhat.com and I'll trigger and republish a new release.

[2018-01-24 13:46] vorburger commented on #62
Closing this as I can work around using https://git.opendaylight.org/gerrit/#/c/67537/.

[2018-01-24 13:46] #62 closed

[2018-02-26 12:52] basinilya opened #64 ".factorypath lacks jars, when corresponding projects are opened in Eclipse"
I have a project that generates sources correctly when it's opened alone, but if I import its dependencies in Eclipse, it can no longer geneate sources. That's because the generated .factorypath doesn't have entries that correspond to the projects opened in Eclipse.

As a workaround please deduce the "M2_REPO/**/*.jar" path from the dependency projects' GAV and add to .factorypath.

[2018-02-26 23:22] fbricon commented on #64
Sorry, workspace dependencies are not supported by the underlying JDT APT engine, so we can't add them to the .factorypath.

You can try to delegate AP to the maven plugin instead of JDT APT, but it's not guaranteed to work anyway. Add the following property to your pom.xml's properties block:

`<m2e.apt.activation>maven_plugin</m2e.apt.activation>

[2018-02-27 07:30] basinilya commented on #64
I know that and this is why I'm asking you to use the repo jars regardless.

[2018-02-27 09:19] basinilya commented on #64
This doesn't seem to have any effect at all, neither does the global setting in Window Preferences

[2018-04-03 15:48] galan commented on #36
Regarding to https://bugs.eclipse.org/bugs/show_bug.cgi?id=531072#c13 it should be fixed in Eclipse Photon (4.8)

[2018-04-05 14:53] fbricon commented on #46
Fixed with #63. Will work in Eclipse Photon

[2018-04-05 14:53] #46 closed

[2018-08-07 20:23] VsevolodGolovanov opened #65 "Control adding plugin processors to factorypath"
We have a bunch of projects. We used to get all sorts of unwanted stuff in factory paths, so for a long time we kept m2e-apt completely disabled and just kept relevant Eclipse project APT configs. But keeping duplicate configs is not very good, and it results in problems when trying out the Developer Studio 12.

So now I saw issue #13 and tried configuring processing like this:
[code]
With the Dev

[2018-08-07 20:26] VsevolodGolovanov commented on #65
There must be some criteria (non m2e-apt) that decides if this gets added to factory path, but I'm not sure what it is. The projects don't have any explicit "Web Services" facets enabled...

[2018-08-08 18:41] fbricon commented on #65
org.eclipse.jst.ws.annotations.core is added automatically by JDT APT. I believe this is used to contribute annotation processors from Eclipse plugins, but I'm not 100% certain. I never found how to disable it (but I haven't searched extensively either).

What kind of error markers does it generate?

[2018-08-08 19:15] VsevolodGolovanov commented on #65
[code]
Probably valid, but should be a warning.

[code]
Invalid, runtime will be different.

[code]
Not sure.

[code]
Seems valid, but it works somehow. Maybe there is more type information hidden in related files.

[code]
Invalid: it complains about overloaded class method names, because it doesn't see the corresponsing unique operation names in the interface.

[code]
No idea. The only google res

[2018-09-03 11:55] VsevolodGolovanov commented on #65
For now we have to keep the separate Eclipse configs (org.eclipse.jdt.apt.core.prefs, org.eclipse.jdt.core.prefs, .factorypath).
But if I import such projects (as Existing Maven Projects) in DevStudio 12, then the test generated source directory gets added to the Deployment Assembly (Problem 1)!

[code]

Which for some reason leads to all test classes and resources being deployed, not just the gen

[2018-09-18 19:56] rdicroce opened #67 "Inconsistent results in incremental vs full build"
I have a project that uses QueryDSL. I'm trying to use QueryDelegate to extend the generated code for OffsetDateTime. m2e-apt produces different results depending on whether Eclipse is executing a full build or an incremental build. A reproducer is attached below.

On a full build (e.g. using Project -> Clean), I get the expected result: QSomeEntity has a field odt with type QOffsetDateTime. But o

[2018-09-19 13:14] fbricon commented on #67
In the case of JDT APT, the bug would most likely be upstream (in JDT). Can you de-mavenize the project, make it a pure Eclipse project and reproduce the issue? If yes, then a bug should be opened upstream.

[2018-09-19 13:41] rdicroce commented on #67
Yes, it is also broken without Maven. Some searching uncovered Eclipse bug 447546, which has been open for 4 years with no progress.

What about the Experimental delegate mode? I assume that is still a bug in m2e-apt.

[2018-09-19 15:47] fbricon commented on #67
maven_execution mode only works for the maven-processor-plugin (I reckon it's not very clear from the readme)
This seems to work:
[code]

[2018-09-19 16:54] rdicroce commented on #67
That does not work for me. I end up with an empty target/generated-sources/apt.

In tinkering with this, I noticed that changing the configuration away from JDT APT doesn't seem to update the project settings in Java Compiler -> Annotation Processing, so at first I was still seeing the result of that doing its thing. Possibly you may be seeing the same thing. Try deleting the project from the work

[2018-09-19 17:43] fbricon commented on #67
Well actually, the problem is, maven_execution mode doesn't deactivate JDT APT settings automatically, and that's probably a bug. The problem is, when jdt_apt is disabled, we don't want to disable APT if it was set manually by the user.

Anyways. Importing the project from a clean slate works for me, with `<m2e.apt.activation>maven_execution</m2e.apt.activation>`

[2018-09-19 17:48] fbricon commented on #67
mmm actually switching `<m2e.apt.activation>jdt_apt</m2e.apt.activation>` to `<m2e.apt.activation>maven_execution</m2e.apt.activation>` back and forth, after update project config, properly disables jdt apt settings in the Annotation Processing properties page

[2018-09-19 17:48] rdicroce commented on #67
I still have not gotten it to work. What version of Eclipse are you testing with? I'm on Photon Release (4.8.0).

[2018-09-19 17:50] fbricon commented on #67
That shouldn't matter, but I'm on 2018-09 (released today) with m2e-apt 1.5.0.201805160042 (installed from http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-apt/)

[2018-09-19 18:32] rdicroce commented on #67
Tried 2018-09. Still doesn't work. The files get generated if I execute a Maven build manually, but that's it. A full build (Project -> Clean) does nothing. An incremental build triggered by changing a file also does nothing. To be clear, "does nothing" means it does not remove files that were previously generated. Are you sure the files you're seeing are actually getting regenerated and are not j

[2018-09-19 20:53] fbricon commented on #67
See https://www.youtube.com/watch?v=XgxpjGkNqS4

Eclipse runs with JDK 1.8, if it makes a difference

[2018-09-19 20:55] fbricon commented on #67
I don't expect deleting files will delete generated files in maven_execution mode. We simple ask java to run the annotation processor, without cleaning anything

[2018-09-20 20:49] rdicroce commented on #67
Finally figured this out after I happened to open the Error Log and noticed an error complaining that

Basically, delegate mode only works if the JRE that is executing Eclipse is a JDK. I don't suppose there's some way to get delegate mode to use the JDK that Eclipse is configured to build with instead? Trying to get tools.jar on the classpath via a system-scoped Maven dependency didn't help eithe

[2018-09-26 17:54] rdicroce commented on #67
After digging through the maven-processor-plugin code, it looks like it should be possible to tell it where to find javac by using maven-toolchains-plugin. Unfortunately that doesn't work either because m2e isn't configuring Maven correctly, so maven-toolchains-plugin can't find toolchains.xml. See Eclipse bugs 521280 and 527398.

[2018-10-04 21:43] htmsousa opened #69 "New m2e.disableTestClasspathFlag property does work with APT"
Hello,

This issue was originally reported in "m2e" project: https://bugs.eclipse.org/bugs/show_bug.cgi?id=539797

and Till Brychcy provided the following comments:

[2018-11-01 13:22] dsyer commented on #64
I have the same problem, or possibly something similar. In my case the APT project is not even a dependency of the target project (the one that won't build), but it is in the `maven-compiler-plugin` configuration. The processor just happens to be something I'm working on, so it is open in Eclipse. If I switch off the Maven project nature for the processor project then everything magically starts w

[2018-11-16 17:39] elharo opened #70 "Please sign the binaries"
![image](https://user-images.githubusercontent.com/1005544/48637733-98a63700-e99c-11e8-8c53-e4057ad5e05c.png)

[2018-11-16 18:09] fbricon commented on #70
Question for @nickboldt

[2018-11-16 19:41] #69 closed

[2018-11-19 14:31] fbricon commented on #60
Yeah sorry, we can't work around JDT APT for that. Maybe @brychcy will be interested in fixing it upstream ;-)

[2018-11-19 16:13] nickboldt commented on #70
I think what Fred is suggesting is that you could build the bits with YOUR key, not ours.

All you need from our end is to clone this repo and build it in your own Jenkins, perhaps forking the code to enable signing if it's done like Eclipse.org does it with a maven mojo.

[2018-11-19 16:19] fbricon commented on #70
moving m2e-apt to the EF is one solution of course, but I dread the red tape involved with the move

[2018-11-19 16:21] fbricon commented on #70
actually since m2e-apt is a dependency of jdt.ls, we're probably supposed to sign it from the EF servers anyway. I'll have to look into that

[2018-11-19 16:21] elharo commented on #70
If we signed with our own key, we'd then have to push our version to the Eclipse Marketplace; and I really don't want to fork or maintain it.

Even more importantly, before I signed it, I should be confident in its code. Right now I know nothing about the code, and can't meaningfully vouch for it.

[2018-11-19 16:46] rgrunber commented on #70
Yes, all bundles distributed by Orbit at Eclipse would get signed automatically. However it's rare to host Eclipse plugins. Generally Orbit hosts 3rd party libraries (often lacking OSGi metadata), but it might not be the first time for such an approach.

However, @nickboldt  is right. You could easily set up a signing service on your build servers. In the past I've used http://codeandme.blogspot.c

[2018-11-21 05:56] #65 closed

[2018-12-11 23:46] nbali opened #71 "Out-of-sync composite*.xml files"
http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-apt/compositeArtifacts.xml
http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-apt/compositeContent.xml

They do not contain any version newer than 1.2.0-2016-01-25_16-03-44-H45, and Eclipse offers only to install the versions found there.

[2018-12-12 15:30] fbricon commented on #71
Sorry my bad. Until I get access to fix the composite update site, you can use http://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-apt/1.5.1-2018-11-16_19-54-26-H16/ directly

[2018-12-12 16:50] fbricon commented on #71
The composite update site has been updated.

[2018-12-12 16:50] #71 closed

[2018-12-12 16:55] nbali commented on #71
No worries, I figured out the workaround myself even before I posted this :)

[2018-12-20 08:57] famod commented on #65
@fbricon Thanks for the fix/workaround - works as expected for me!
Are you going to release 1.5.2 anytime soon?

[2018-12-24 16:19] fbricon commented on #65
@famod the update site has been updated as well as the Eclipse marketplace

[2019-05-27 09:32] martinlippert commented on #70
I would also be interested in consuming signed binaries of this project... :-)

[2019-08-09 17:39] agentgt opened #72 "After a maven refresh annotation processors cannot find resources"
This might be related to:

https://github.com/jbosstools/m2e-apt/issues/67

The original bug is here:

https://github.com/domaframework/doma/issues/319

Basically if I touch a file (ie edit it) that is processed by the annotation processor than the annotation processor is able to find the resources in `src/main/resources` (its in the classpath).

However if  I do a Maven refresh configuration ("Al

[2019-08-09 17:55] agentgt commented on #72
I also tested with and without the maven-processor-plugin version 3.3.3

[2019-08-09 18:06] agentgt commented on #72
For other that may have this problem:

The best work around I have found is to turn on default `m2e-apt` and then have Maven copy the resources:

[code]

I'm not entirely sure how the above works. I know its copying the resources and I know the m2e plugin will do that but I'm not sure if it invalidates some things for incremental build or the above always causes a full build.

[2019-09-16 13:41] Frettman opened #73 "Everything after whitespace in processor options cut off."
When m2e-apt parses the processor options from the compiler arguments in the Maven project to configure the Eclipse project, everything after the first space is cut off. E.g.
**-AoptionWithSpace=beforespace afterspace**
will result in the Eclipse project having an annotation processor option of
**optionWithSpace** = **beforespace**
I tracked down the responsible code to org.jboss.tools.maven.apt.i

[2019-09-17 07:34] fbricon commented on #73
Does it work when surrounding the option with `"`?
Can you provide a sample project reproducing the issue?
Could you maybe provide a PR to fix this issue?

[2019-09-17 09:05] Frettman commented on #73
I attached a simple project to demonstrate that
1. when running the Maven build, annotation processors receive the complete value.
1. the Eclipse project will only have the value up to the first space, tab, single or double quote.

[processor-options-with-space.zip](https://github.com/jbosstools/m2e-apt/files/3620235/processor-options-with-space.zip)

I could provide a PR. My solution would be to

[2019-11-06 13:42] #73 closed

[2019-11-06 13:45] fbricon commented on #73
Parsing is fixed:
<img width="870" alt="Screen Shot 2019-11-06 at 2 32 06 PM" src="https://user-images.githubusercontent.com/148698/68303261-c7cd2100-00a3-11ea-90a4-08d4b0fbbc45.png">

[2019-11-06 13:50] Frettman commented on #73
Thank you! Much appreciated :)

[2019-11-06 14:11] fbricon commented on #73
CI builds can be installed from this p2 repo: https://download.jboss.org/jbosstools/photon/snapshots/builds/m2e-apt/latest/all/repo/

[2019-11-06 14:48] Frettman commented on #73
Can confirm that it works now. The option values in Eclipse are now just like the annotation processor receives them from Maven.

[2020-01-09 06:28] wti commented on #44
For me the errors and the generated annotation directories returned after destroying all those, even after deleting the project and the jboss metadata and of course removing the annotation configuration and dependencies from the pom.xml.

The ground-hog day `eternal return of the same` only stopped after I disabled annotations in .settings/org.eclipse.jdt.core.prefs.

[2020-04-09 18:07] nkavian commented on #28
I've deleted the .factorypath file and alt-f5 did not regenerate it.

[2020-08-18 13:33] DeepSnowNeeL opened #74 "Error dowloading from website"
Hello, not sure if I should report this error here.

I just updated to java 14 and last eclipse (Version: 2020-06 (4.16.0) Build id: 20200615-1200)

When going in the eclipse marketplace to download m2e-apt I get the following error :
[code]

I can browse without problem when I visit from my browser.

I tried by using "Install New software..." with `https://download.jboss.org/jbosstools/updates/m2

[2020-08-18 13:38] DeepSnowNeeL commented on #74
Ok found the issue

Solved by adding -Djdk.tls.client.protocols="TLSv1,TLSv1.1,TLSv1.2" to my eclipse.ini vmargs

This seems to be caused by https://bugs.openjdk.java.net/browse/JDK-8221253

[2020-08-18 13:38] #74 closed

[2020-09-22 07:26] lrozenblyum opened #75 "Eclipse 2020-09: broken plugin"
The m2e-apt 1.5.2 doesn't work in Eclipse 2020-09

The code that depends on annotation processing which could compile in 2020-03, stops compiling in 2020-09.

Not sure if that's related to the problem, but Eclipse log contains the exceptions
[code]

[2020-09-22 08:17] fbricon commented on #75
It's obviously caused by Eclipse now requiring Java 11 to run, which no longer includes the javax.xml.bind module.
Does it build in command line when compiling with a JDK 11?
You can you try adding
[code]
next to the hibernate modelgen dependency.

[2020-09-22 09:48] lrozenblyum commented on #75
@fbricon
1) initially compilation in command line fails under JDK11.
2) compilation in command line with the dependency jakarta.xml.bind successfully generates
target\generated-sources\annotations
3) Eclipse compilation still does nothing (even with the dependency above)

More details on the environment:
The project itself is JDK8 based and uses it in Eclipse for compilation.
Eclipse 2020-09 itsel

[2020-09-22 12:50] fbricon commented on #75
please provide an example project that succeed in CLI, but fails in Eclipse.

[2020-09-23 07:53] lrozenblyum commented on #75
@fbricon here it is: https://github.com/lrozenblyum/m2e-apt-eclipse-2020-09-bug

[2020-09-23 10:15] fbricon commented on #75
Everything works with this pom.xml:

[code]

[2020-09-24 09:32] lrozenblyum commented on #75
Thank you @fbricon!
Maybe it's a nice idea to extend some part of m2e-apt documentation to mention this code that helps resolving running under Eclipse 2020-09 (it's unexpected that IDE JDK11 affects the application code running under JDK8).

[2020-09-24 09:57] fbricon commented on #75
@lrozenblyum feel free to open a PR to improve the documentation. Else I'll come back to it later (no ETA)

[2020-10-20 15:43] lrozenblyum commented on #75
@fbricon done, please check the pull request, remarks are welcome

[2021-12-10 19:45] guillaumecle opened #78 "Eclipse 2021-12: org.eclipse.m2e.editor.xml installation issue"
I'm getting the following error when trying to install m2e-apt on eclipse 2021-12
[code]

I'm getting a similar error when using the Dev builds update site.

[2021-12-16 08:04] fbricon commented on #78
You need to install the "M2E - POM Editor (Legacy) using WebTools SourceEditing UI" feature, which is no longer installed by default  with m2e

[2021-12-16 08:20] #75 closed

[2021-12-17 01:40] guillaumecle commented on #78
I installed it (`org.eclipse.m2e.sse.ui.feature.feature.group`) and it worked.
Thank you.

[2021-12-17 01:40] #78 closed

[2022-01-21 20:01] guillaumecle opened #79 "remove dependency on WTP pom editor ?"
Does it sounds possible to remove the dependency on the WTP editor (`org.eclipse.m2e.sse.ui.feature.feature.group`) ?

The m2e team is planning to remove it.
see eclipse-m2e/m2e-core#518 and https://www.eclipse.org/lists/m2e-dev/msg02429.html

[2022-01-25 07:41] yamfun opened #81 "HTTP Server 'Gateway Timeout': https://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-apt/..."
When trying to get JBoss tool from Marketplace, got error:
HTTP Server 'Gateway Timeout': https://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-apt/1.5.3-2019-11-08_11-04-22-H22/content.xml
HttpComponents connection error response code 504.

[2022-01-25 09:01] jeffmaury commented on #81
Seems to be back now

[2022-01-25 09:01] #81 closed, assigned to nobody

[2022-01-25 17:01] #79 closed, assigned to nobody

[2022-02-17 20:30] mickaelistria commented on #70
m2e-apt's code is now included in https://github.com/eclipse-m2e/m2e-core , please consider reporting issue to https://github.com/eclipse-m2e/m2e-core/issues if it's still relevant.

[2022-02-17 20:30] mickaelistria commented on #67
m2e-apt's code is now included in https://github.com/eclipse-m2e/m2e-core , please consider reporting issue to https://github.com/eclipse-m2e/m2e-core/issues if it's still relevant.

[2022-02-17 20:31] mickaelistria commented on #64
m2e-apt's code is now included in https://github.com/eclipse-m2e/m2e-core , please consider reporting issue to https://github.com/eclipse-m2e/m2e-core/issues if it's still relevant.

[2022-02-17 20:31] mickaelistria commented on #60
m2e-apt's code is now included in https://github.com/eclipse-m2e/m2e-core , please consider reporting issue to https://github.com/eclipse-m2e/m2e-core/issues if it's still relevant.

[2022-02-17 20:31] mickaelistria commented on #45
m2e-apt's code is now included in https://github.com/eclipse-m2e/m2e-core , please consider reporting issue to https://github.com/eclipse-m2e/m2e-core/issues if it's still relevant.

[2022-02-17 20:31] mickaelistria commented on #40
m2e-apt's code is now included in https://github.com/eclipse-m2e/m2e-core , please consider reporting issue to https://github.com/eclipse-m2e/m2e-core/issues if it's still relevant.

[2022-02-17 20:31] mickaelistria commented on #37
m2e-apt's code is now included in https://github.com/eclipse-m2e/m2e-core , please consider reporting issue to https://github.com/eclipse-m2e/m2e-core/issues if it's still relevant.

[2022-02-17 20:32] mickaelistria commented on #28
m2e-apt's code is now included in https://github.com/eclipse-m2e/m2e-core , please consider reporting issue to https://github.com/eclipse-m2e/m2e-core/issues if it's still relevant.

[2022-02-17 20:33] mickaelistria commented on #20
m2e-apt's code is now included in https://github.com/eclipse-m2e/m2e-core , please consider reporting issue to https://github.com/eclipse-m2e/m2e-core/issues if it's still relevant.

[2022-02-17 20:33] mickaelistria commented on #17
m2e-apt's code is now included in https://github.com/eclipse-m2e/m2e-core , please consider reporting issue to https://github.com/eclipse-m2e/m2e-core/issues if it's still relevant.

[2022-02-17 20:33] mickaelistria commented on #14
m2e-apt's code is now included in https://github.com/eclipse-m2e/m2e-core , please consider reporting issue to https://github.com/eclipse-m2e/m2e-core/issues if it's still relevant.

[2022-02-17 20:33] mickaelistria commented on #13
m2e-apt's code is now included in https://github.com/eclipse-m2e/m2e-core , please consider reporting issue to https://github.com/eclipse-m2e/m2e-core/issues if it's still relevant.